.agallery{
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
	grid-template-columns: repeat(auto-fit, minmax(600px,1fr));
	grid-gap:0.2%;
}

.aphoto{
	overflow:hidden;
	display:flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;
}


.aphoto img{
	min-width:100%;
	min-height:100%;
	object-fit:cover;
}
